
<app-navbar></app-navbar>

<!-- 1 - Inicio -->
<div class="container   bg" >

    <div class="row justify-content-center align-items-center">
        
        <div class="col-12 col-md-12 col-lg-12  text-center p-5 align-middle"> 

            <h1 class="header-title" > Health Care </h1>


        </div>
        
        <div class="line text-center">
            <img src="../../assets/line.png">
        </div>

    </div>
    
    

</div>

<!-- 1 - Inicio -->
<div class="container  bg-white " >

    <div class="row m-5 p-5 bg-light">
        
        <div class="col-12 col-md-4 col-lg-4  text-center align-middle"> 

            <h3 class="font-weight-bold"> Cliente  </h3>
            <h5> Health Care Esp </h5>

        </div>

        <div class="col-12 col-md-4 col-lg-4  text-center  align-middle"> 

            <h3 class="font-weight-bold"> Localização  </h3>
            <h5> Porto </h5>

        </div>

        <div class="col-12 col-md-4 col-lg-4  text-center  align-middle"> 

            <h3 class="font-weight-bold"> Link  </h3>
            <h5> healthcaresp.pt </h5>

        </div>
    
    </div>
    
    <div class="row p-l">

        <div class="col-12 p-2"> 

            <h4> // Empresa na área da Saúde e Reabilitação  </h4>

        </div>

        <div class="col-12 pt-4 p-2">

            <h2> Informação </h2>

        </div>

        <div class="col-12 p-1 pb-4">

            <h5> A HealthCare atualmente é uma empresa situada em Espinho, com uma vasta diversificação nos ramos da reabilitação. 
                Serviços desde: Fisioterapia, Cinesioterapia, Psicologia, Pediatria, Medicina, Geral e Familiar. A HealthCare presta cuidados a famílias, adequando-os às necessidades do cliente em todas as fases do seu ciclo de vida.
                Queremos ajudar a garantir a sua qualidade de vida no domicílio e para isso disponibilizamos-lhe uma vasta gama de serviços.
            </h5> 
        
        </div>

        <div class="col-12 pt-4 p-1">

            <h2> Desafio </h2>

        </div>

        <div class="col-12 p-1">

            <h5> 
                Tal como o proprio nome diz, "Go Online" , o desenvolvimetno do projeto HealthCare, concretizou-se com o obejtivo de lançarmos a empresa no mundo digital. Sem pontos de referencia,
                tivemos o desafio de construir desde raiz toda a presensa e imagem online da empresa HC e posicionar
                a empresa de uma forma diferenciadora e credível.  
            </h5> 
        
        </div>

    </div>

    <div class="row justify-content-center align-items-center ">

        <img class="img_art1"  src="assets/h2.jpg">

    </div>

    <div class="row justify-content-center align-items-center ">

        <img class="img_art1"  src="assets/h3.jpg">

    </div>

    <div class="row mt-5 mb-5 p-lr ">
        
        <div class="col-12 pt-4 p-1">

            <h2> Processo </h2>

        </div>

        <div class="col-12 p-1">

            <h5> 
                Todo o precesso de desenvolvimento por parte da nossa equipa, focou-se maioritariamente na qualidade, diferenciação e destaque
                na imagem da HealthCare. Acreditamos vivamente que a diferença acontece quando se foca nos pequenos detalhes. Todo o nosso trabalho foi sobre o desenvolvimento
                de toda a sua imagem de marca, um website responsibo para: Web, mobile e tablet. <p> Criação de Google Business e gestão de todas as 
                redes sociais.  </p>
            </h5> 
        
        </div>

    </div>

    <div class="row justify-content-center align-items-center  ">

        <div class="col-12 col-md-6">

            <img class="img_art1"  src="assets/h5.jpg">

        </div>

        <div class="col-12 col-md-6 text-left p-5">

            <div class="col-12 pt-4 p-1">

                <h4 class="font-weight-bold"> Solução </h4>
    
            </div>

            <p>
                Criando uma imagem diferenciadora de mercado, uma plataforma digital de facil acesso, com uma navegação bastante acessivel
                para todos os seus clientes, com mais uma estrategias de amplificação de leads, foram os pontos chaves para lançar a empresa.
                Com a utilização de ferramentas e tecnologias apropriadas, garantimos as soluções mais apropriadas para criação do 
                logo de empresa, nome, layout de cores, até à sua visão de mercado, foram os aspetos principais para a deccer
                se destacar no digital.  
            </p>

        </div>

    </div>

    <div class="row justify-content-center align-items-center mb-5 pb-5 p-lr ">

        <div class="col-12 pt-4 p-1">

            <h2> Futuro </h2>

        </div>

        <div class="col-12 p-1 ">

            <h5> 
                Desde sempre gostamos de manter o contacto com os nossos clientes, para garantir que o futuro do nosso trabalho, dá os frutos Queremos
                pretendemos. Iremos manter uma forte presença onlie, com publicidade e marketing digital nas redes sociais e Google words. Ferramentas
                que no mercado de reabilitação funcionam e indicam um futuro promissor para as empresas.
            </h5> 
        
        </div>   

    </div>

</div>

<!-- 1 - FIM -->
<div class="container   bg2" >

    <div class="row">
        
        <div class="col-12 col-md-12 col-lg-12  text-center p-5 align-middle"> 

            <h1 class="header-title" > Digitar+ </h1>

            <button class="btn"> <a href="/product-pages/digitarq"> Próximo Projeto </a> </button>

        </div>
    
    </div>
    
</div>

<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->