<header >
    <nav class="navbar navbar-expand-lg   nav-color">

        <a class="text-left d-none d-sm-block" href="#">
          <img class="nav-logo text-center" src="../../../assets/fav-w.png">
        </a>

        <a class="text-left d-block d-sm-none" href="#">
          <img class="nav-logo text-center" src="../../../assets/fav-t.png">
          <p> </p>
        </a>
        
        <button class="navbar-toggler collapsed btn-nav " type="button collapsed" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <svg id="rotated" width="1em" height="1em" viewBox="0 0 12 12" class="bi bi-list" fill="lightblue" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>

        <div class="collapse navbar-collapse "  id="navbarNavDropdown">
          <ul class="navbar-nav p-2 " style="align-items: center;">
            <li class="nav-item">
                <a class="nav-link" href="/#about">Sobre</a>
              </li>
            <li class="nav-item active">
              <a class="nav-link" href="/#service">Serviços <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/projects">Projetos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto">Contacto</a>
            </li>
           
          </ul>
        </div>
    </nav> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  

  </header>