
<app-nav-mobile></app-nav-mobile>

<div class="container-fluid bg-1">

    <div   class="row justify-content-center p-5 text-center " >

            <div class="col-md-11 text-center"  style="margin-top: 328px;">
                <h1 style="color: rgb(34, 5, 94); font-weight: bold;"> O nosso Portfólio</h1>
            </div>

           

    </div>

</div>

<div class="container-fluid p-l1 mt-ad" style="background-color: white; margin-bottom: 111px;">



    <div class="row justify-content-center  p-4 mt-5">

        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center bg-deccer m-3">
            
            <div class="">
                <a href="/product-pages/deccer"> deccer </a>
            </div>

        </div>

        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center bg-dg m-3">
            
            <div class="">
                <a href="/product-pages/digitarq"> digitar+ </a>
            </div>

        </div>

        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center bg-hl m-3 mt-5">
            
            <div class="">
                <a href="/product-pages/health"> health </a>
            </div>

        </div>

        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center bg-nf m-3 mt-5">
            
            <div class="">
                <a href="/product-pages/nf"> NF Training </a>
            </div>

        </div>

        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center bg-tis m-3 mt-5">
            
            <div class="">
                <a href="/product-pages/tis"> TIS  </a>
            </div>

        </div>

    </div>

</div>

<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->