<footer id="contactos" class="page-footer font-small  pt-5  pb-1"  style="background-color: #141626; color: white;">

    <!-- Footer Links -->
    <div class="container-fluid pl-5 pr-5 text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 p-l">
  
          <!-- Content -->
          <h4 class="text-uppercase">Contactos</h4>
          <p>Gondomar, Porto</p>
          <p class="large" style="color: #bde5f1;">witech.software@gmail.com</p>
          <p class="large">Tel - 913868569 </p>
          <button> <a href="/orcamento"> Fale Connosco</a></button>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h3 class="text-uppercase" >Serviços</h3>
  
            <ul class="list-unstyled">
              <li>
                <a href="/servico/#canalizacoes">Websites</a>
              </li>
              <li>
                <a href="/servico/#exteriores">Mobile Apps.</a>
              </li>
              <li>
                <a href="/servico/#funilarias">Marketing Digital</a>
              </li>
              <li>
                <a href="/servico/#telhados">Gestão Redes Sociais</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h3 class="text-uppercase" > Encontre-nos Em: </h3>
            
            <ul class="list-unstyled">
              <li>
                <a (click)="instagram()">Instagram</a>
              </li>
              <li>
                <a (click)="instagram()">OLX Portugal</a>
              </li>
              <li>
                <a (click)="instagram()">Habitadissimo</a>
              </li>
              <li>
                <a (click)="instagram()">Pai.pt</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    
  
  </footer>