
<app-nav-mobile></app-nav-mobile>

<!-- 1 - Inicio -->
<div class="container-fluid  bg" >

    <div class="row justify-content-left align-items-center">
        
        <div class="col-12 col-md-4 col-lg-5  text-center  p-5 margens-bg1"> 

            <h1 style="display: inline-block;" data-aos="fade-up"  data-aos-duration="500"> M</h1>
            <h1 style="display: inline-block;" data-aos="fade-up"  data-aos-duration="700"> O</h1>
            <h1 style="display: inline-block;" data-aos="fade-up"  data-aos-duration="1300"> B</h1>
            <h1 style="display: inline-block;" data-aos="fade-up"  data-aos-duration="1550"> I</h1>
            <h1 style="display: inline-block;" data-aos="fade-up"  data-aos-duration="1700"> L</h1>
            <h1 style="display: inline-block;" data-aos="fade-up"  data-aos-duration="1900"> E</h1>
            <br>
            <h1 style="display: inline-block;" data-aos="fade-up"  data-aos-duration="2200"> A</h1>
            <h1 style="display: inline-block;" data-aos="fade-up"  data-aos-duration="2500"> P</h1>
            <h1 style="display: inline-block;" data-aos="fade-up"  data-aos-duration="2800"> P</h1>

            <h5 class="mb-5 p-5"> Desenvolvimento de software para Mobile, projetando o seu negocio no digital.</h5>

            <button class="btn-pink"> <a href="/contact"> Contactar</a>  </button>


        </div>
    
    </div>
    
</div>

<!-- 2 - Features -->
<div class="container-fluid  bg2">

    <div class="row  justify-content-center p-4">
        
        <div class="col-12 col-md-4 col-lg-4  text-center  ml-t ">

            <!-- <div>  <img style="width: 320px;" src="assets/logo1.png"> </div> -->

            <h2  data-aos="zoom-in"  data-aos-duration="1300"> Vantagens</h2>
            
            <h5 class="mb-5 p-4 tx-space-0 "  style="color: rgb(174, 171, 176);" data-aos="zoom-in"  data-aos-duration="1300">Conheça as vantagens de ter uma aplicação nos dias de hoje. Marque presensa no mundo digital agora.</h5>
            
        
        </div>

    </div>
    
    <div class="row justify-content-center p-5">

        <!-- 1 card -->
        <div   data-aos="fade-up"  data-aos-duration="1300" class=" tx-space-0 col-12 col-md-3 card-list text-left p-5 m-4">  

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Presença Online</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> Ter uma aplicação mobile significa que os seus cliente poderão encontrar você - em qualquer hora, em qualquer lugar. 
.</p>

        </div>

        <!-- 2 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12 tx-space-0 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Trocar Informação </h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> A possibilidade de trocar informações diretamente com um cliente, sem você perder um único minuto.  Esta comunicação “off”, não só poupa-lhe tempo como informa e mostra aos clientes os seus produtos, os seus contactos, fotos do seu estabelecimento.</p>

        </div>


        <!-- 3 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12 tx-space-0 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Credebilidade</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> A credibilidade é um dos fatores principais no que toca a fechar um negócio. No mundo moderno de hoje, existe a expectativa de que qualquer empresa de boa reputação tenha algum tipo de presença online. </p>

        </div>

        


    </div>
    
</div>

<!-- 3 layer O Q ESPERAR -->
<div class="container-fluid ">

    <div class="row bg3 justify-content-center p-3 ">

        <div class="col-12 ml-t text-center  ">
            <h4 class="text-white "> O que esperar da Witech </h4>
        </div>

    </div>

    <div class="row  mb-l justify-content-center align-items-center bg-text" >
        
        <div data-aos="fade-up" data-aos-duration="1900" class="col-12 col-md-5 text-center text-white p-5"> 
                
            <img style="width: 75%;" src="assets/mob.png">

        </div>

        <div data-aos="fade-up" data-aos-duration="1900" class="col-12 mt-5 col-md-5 d-flex  justify-content-center text-left text-space  text-white p-5 ">
            Uma aplicação mobile consegue melhorar a experiência do cliente ao interagir com o seu produto ou empresa. Além da presença 
            constante nos smartphones, conseguem ter um propósito diferente em comparação cos resultados.
        </div>

        

    </div>

    <div class="row " >
        
        <img class="bg4 d-block d-sm-none"  src="assets/bd52.jpg" style="width: 100%;">

        <img class="bg4  d-none d-sm-block" src="assets/bd52.jpg">


    </div>

</div>

<app-related-work></app-related-work>


<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->