/* You can add global styles to this file, and also import other style files 
html{
    background-color: #191e32;
    color: white;
} */


html{
    background-color: #ffffff;
    color: white;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

button{
	outline: 0 !important;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1,h2,h3,h4,h5{
    font-family: Clan news,sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Clan news,sans-serif; }
p, button {     font-family:Clan news,sans-serif;}

