/* You can add global styles to this file, and also import other style files 
html{
    background-color: #191e32;
    color: white;
} */


html{
    background-color: #181b2e;
    color: white;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

button{
	outline: 0 !important;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p, button {     font-family: Roboto, "Helvetica Neue", sans-serif;}

