
<app-nav-mobile></app-nav-mobile>

<!-- 1 - Inicio -->
<div class="container-fluid  bg" >

    <div class="row justify-content-left align-items-center">
        
        <div class="col-12 col-md-4 col-lg-5  text-center  p-5 margens-bg1"> 

            <h1  > Marketing e Pubicidade</h1>

            <h5 class="mb-5 p-5"> Ajudamos a sua empresa a ganhar notoriedade online.</h5>

            <button class="btn-pink"> <a href="/contact"> Contactar</a>  </button>


        </div>
    
    </div>
    
</div>

<!-- 2 - Features VANTAGENS-->
<div class="container-fluid  bg2">

    <div class="row  justify-content-center p-4">
        
        <div class="col-12 col-md-4 col-lg-4  text-center  ml-t ">

            <!-- <div>  <img style="width: 320px;" src="assets/logo1.png"> </div> -->

            <h2  data-aos="zoom-in"  data-aos-duration="1300"> Vantagens</h2>
            
            <h5 class="mb-5 p-4 tx-space-0"  style="color: rgb(174, 171, 176);" data-aos="zoom-in"  data-aos-duration="1300">Conheça as vantagens de fazer publicidade nos dias de hoje. Marque presensa no mundo digital agora.</h5>
            
        
        </div>

    </div>
    
    <div class="row justify-content-center p-5">

        <!-- 1 card -->
        <div   data-aos="fade-up"  data-aos-duration="1300" class=" tx-space-0 col-12 col-md-3 card-list text-left p-5 m-4">  

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Marketing</h3>

            <div style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> Marketing Digital é um conjunto de informações e ações que podem ser feitas em diversos meios digitais com o objetivo de promover a sua empresa e produto. Podemos definir:
                <ul>
                    <li>
                        Uma presença forte na internet
                    </li>
                    <li>
                        Construir uma audiência qualificada

                    </li>
                    <li>
                        Falar com o público certo na hora certa

                    </li>
                    <li>
                        Sair na frente da concorrência

                    </li>
                </ul>

            </div>

        </div>

        <!-- 2 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="tx-space-0 col-12 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Estrategia </h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> As possibilidades de aplicações são bastantes, mas existem algumas estratégias e técnicas que são mais usadas pela grande maioria  dos negócios, porque trazem resultados positivos e de forma consistente. São elas: Marketing de Conteúdo; Email Marketing; Redes Sociais; Otimização de Conversão; Marketing de Busca.</p>

        </div>


        <!-- 3 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class=" tx-space-0 col-12 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Assertividade</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> Com estrategias bem planeadas, fazemos o seu projeto ou empresa chegar aos clientes alvo. Aumentando de uma forma proporcional à sua visiblidae, o numero de negocios e produtos vendidos.</p>

        </div>

       


    </div>
    
</div>

<!-- 3 layer O Q ESPERAR -->
<div class="container-fluid ">

    <div class="row bg3 justify-content-center p-3 ">

        <div class="col-12 ml-t text-center  ">
            <h4 class="text-white "> O que esperar da Witech </h4>
        </div>

    </div>

    <div class="row  mb-l justify-content-center align-items-center bg-text" >
        
        <div data-aos="fade-up" data-aos-duration="1900" class="col-12 col-md-5 text-center text-white p-5"> 
                
            <img style="width: 105%;" src="assets/mark.png">

        </div>

        <div data-aos="fade-up" data-aos-duration="1900" class="col-12 mt-5 col-md-5 d-flex  justify-content-center text-space  text-left text-white p-5 ">
        
            Atualmente, as empresas precisam de trocar informações e concluir transações em tempo real com os seus clientes. A Internet é um canal excelente e barato para esse fim. A nossa equipa faz uma abordagem profunda à sua area de mercado, de forma aproveitar melhor as tecnologias modernas e a desenvolvermos o melhor produto para si. Podemos construir todos os tipos de aplicações web para diferentes áreas, como E-Commerce, HealthCare, Energia, Constuções e fitness.
        </div>

    </div>

    <div class="row " >
        
        <img class="bg4 d-block d-sm-none"  src="assets/bd52.jpg" style="width: 100%;">

        <img class="bg4  d-none d-sm-block" src="assets/bd52.jpg">


    </div>

</div>


<app-related-work></app-related-work>



<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->