
<!-- 1 - Inicio -->
<div class="container-fluid  bg" >

    <div class="row justify-content-left align-items-center">
        
        <div class="col-12 col-md-4 col-lg-5  text-center  p-5 margens-bg1"> 

            <h1 style="font-weight: bold;" > Logos e Portfolios</h1>

            <h5 class="mb-5 p-5"> Criamos uma nova imagem à sua empresa ou produto.</h5>

            <button class="btn-pink"> <a href="/contact"> Contactar</a>  </button>


        </div>
    
    </div>
    
</div>

<!-- 2 - Features VANTAGENS-->
<div class="container-fluid  bg2">

    <div class="row  justify-content-center p-4">
        
        <div class="col-12 col-md-4 col-lg-4  text-center  ml-t ">

            <!-- <div>  <img style="width: 320px;" src="assets/logo1.png"> </div> -->

            <h2  data-aos="zoom-in"  data-aos-duration="1300"> Vantagens</h2>
            
            <h5 class="mb-5 p-4 "  style="color: rgb(174, 171, 176);" data-aos="zoom-in"  data-aos-duration="1300">Conheça as vantagens de ter um logotipo diferenciador e único. Marque presensa no mundo digital agora.</h5>
            
        
        </div>

    </div>
    
    <div class="row justify-content-center p-5">

        <!-- 1 card -->
        <div   data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4">  

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Imagem de Marca</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> 
                Um logotipo atraente é um elemento-chave para o sucesso de qualquer negócio. 
                Como produto ou empresa, é o primeiro fator que cria uma relação de proximidade com o público-alvo. É muito
                 importante que o logotipo seja diferenciador entre os milhares existentes. A primeira coisa que deve vir à 
                 cabeça quando se fala da sua empresa é o logotipo.</p>

        </div>

        <!-- 2 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Identidade e Presença </h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> 
                Um bom logotipo devera dizer, de forma indireta, muito sobre a sua marca. Este deve transmitir precisamente o que se pretende.
                 Quer um exemplo? Quando se vê o logotipo da Nike, pensa-se logo em desporto. Não é exagero dizer que um logotipo é sinónimo
                 da empresa. Desta forma, é importante que o logotipo esteja em perfeita sintonia com a mensagem 
                 que se pretende transmitir.
        </div>


        <!-- 3 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Atração</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> 
                O seu logotipo deverá estar em perfeita sintonia com a sua imagem de mercado. Se o seu logotipo for visualmente atraente,
                voce tem do seu lado o fator de presuasão indireto. Um logotipo atraente consegue transmitir mais confiança ao seu 
                publico alvo, e ajudar a tomarem o ponto decisivo de entrarem em contacto com a sua empresa.
            </p>

        </div>

    

    </div>
    
</div>

<!-- 3 layer O Q ESPERAR -->
<div class="container-fluid ">

    <div class="row bg3 justify-content-center p-3 ">

        <div class="col-12 ml-t text-center  ">
            <h4 class="text-white "> O que esperar da Witech </h4>
        </div>

    </div>

    <div class="row  mb-l justify-content-center align-items-center bg-text">
        
        <div data-aos="fade-up" data-aos-duration="1900" class="col-12 col-md-5 text-center text-white p-5"> 
                
            <img style="width: 110%;" src="assets/v1.png">

        </div>

        <div data-aos="fade-up" data-aos-duration="1900" class="col-12 mt-5 col-md-5 d-flex  justify-content-center text-space  text-left text-white p-5 ">
        
            O rosto da seu negocio começa aqui. Com um logotipo à medida e uma imagem de diferenciação, são pontos que o irão destacar no seu setor.
            Com a grande evolução e crescimento do mundo digital, queremos garantir que estamos atualizados ao uso de diversas ferramentas, prontos
            a criar e construir o melhor do seu produto e empresa.  
        </div>

    </div>

    <div class="row " >
        
        <img class="bg4 d-block d-sm-none"  src="assets/bd52.jpg" style="width: 100%;">

        <img class="bg4  d-none d-sm-block" src="assets/bd52.jpg">


    </div>

</div>

<app-related-work></app-related-work>


<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->