
<app-nav-mobile></app-nav-mobile>

<!-- Inicio -->
<div class="container-fluid fade-in bg p-ad" style="align-items: center; opacity: 0.97;">

    <div class="row  p-2" style="background-color: #19255a; margin-top: 111px;">
        
        <div class="mt-d col-12 mt-d  pink text-center  font-weight-bold" >
            Contacto
        </div>
        <div class="col-12 text-center mb-4 ">
            witech.software@gmail.com
        </div>

        <div class="col-12 pink text-center font-weight-bold">
            Falar com Diogo 
        </div>
        <div class="col-12 text-center mb-4">
            913868569
        </div>

        <div class="col-12 pink text-center font-weight-bold">
            Escritorio
        </div>
        <div class="col-12 text-center mb-5">
            <p>Rua Santa Luzia, n.56, </p>
            Gondomar, Porto
            <p>4510-426</p>
        </div>
        
        

    </div>
    
    
</div>

<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->
