
<!-- 1 - Inicio -->
<div class="container   bg" >

    <div class="row">
        
        <div class="col-12 col-md-12 col-lg-12  text-center p-5 align-middle"> 

            <h1 class="header-title" > Digitarq+ </h1>


        </div>
    
    </div>
    
</div>

<!-- 1 - Inicio -->
<div class="container  bg-white " >

    <div class="row m-5 p-5 bg-light">
        
        <div class="col-12 col-md-4 col-lg-4  text-center align-middle"> 

            <h3 class="font-weight-bold"> Cliente  </h3>
            <h5> Digitarq+ </h5>

        </div>

        <div class="col-12 col-md-4 col-lg-4  text-center  align-middle"> 

            <h3 class="font-weight-bold"> Localização  </h3>
            <h5> Lisboa </h5>

        </div>

        <div class="col-12 col-md-4 col-lg-4  text-center  align-middle"> 

            <h3 class="font-weight-bold"> Tipo  </h3>
            <h5> Stratup Project </h5>

        </div>
    
    </div>
    
    <div class="row p-l">

        <div class="col-12 p-2"> 

            <h4> // Empresa na area de Investigaçao e Arquivos Nacionais  </h4>

        </div>

        <div class="col-12 pt-4 p-2">

            <h2> Informação </h2>

        </div>

        <div class="col-12 p-1 pb-4">

            <h5> O Digitarq+ é atualmente o projeto mais recente da Torre do Tombo. O Arquivo Nacional da Torre do Tombo é um serviço 
                dependente da Direcção-Geral do Livro, Arquivos e Bibliotecas, serviço central da administração directa do Estado,
                 centro de arquivos nacionais de portugal. 
            </h5> 
        
        </div>

        <div class="col-12 pt-4 p-1">

            <h2> Desafio </h2>

        </div>

        <div class="col-12 p-1">

            <h5> 
                O desenvolvimetno do projeto Deccer, concretizou-se com o obejtivo de lançarmos a empresa no mundo digital. Sem pontos de referencia,
                tivemos o desafio de construir desde raiz toda a presensa e imagem online da empres Deccer e posicionar
                a empresa de uma forma diferenciadora e credível.  
            </h5> 
        
        </div>

    </div>

    <div class="row justify-center  ">

        <img style="width: 95%;" src="assets/torre1.png">

    </div>

</div>