
<app-nav-mobile></app-nav-mobile>

<!-- 1 - Inicio -->
<div class="container   bg2" >

    <div class="row justify-content-center align-items-center">
        
        <div class="col-12 col-md-12 col-lg-12  text-center p-5 align-middle"> 

            <h1 class="header-title" > The Integrative <br>Spot (TIS) </h1>


        </div>
        
        <div class="line text-center">
            <img src="../../assets/line.png">
        </div>

    </div>
    
    


</div>

<!-- 1 - Inicio -->
<div class="container  bg-white " >

    <div class="row m-5 p-5 bg-light">
        
        <div class="col-12 col-md-4 col-lg-4  text-center align-middle"> 

            <h3 class="font-weight-bold"> Cliente  </h3>
            <h5> TIS - Fitness & Performance </h5>

        </div>

        <div class="col-12 col-md-4 col-lg-4  text-center  align-middle"> 

            <h3 class="font-weight-bold"> Localização  </h3>
            <h5> Porto </h5>

        </div>

        <div class="col-12 col-md-4 col-lg-4  text-center  align-middle"> 

            <h3 class="font-weight-bold"> Tipo  </h3>
            <h5> Fitness </h5>

        </div>
    
    </div>
    
    <div class="row p-l">

        <div class="col-12 p-2"> 

            <h4> // Empresa na area de Fitness e Bem Estar </h4>

        </div>

        <div class="col-12 pt-4 p-2">

            <h2> Informação </h2>

        </div>

        <div class="col-12 p-1 pb-4">

            <h5> The integrative Spot (TIS), é atualmente o mais recente projeto do personal trainer Nuno Bessa. Situado no porto, este projeto é caraterizado pela 
                sua diversificação de serviços na area da saude e treino, podendo encontrar no seu establecimento: Treinos personalizados e performance, 
                treinos de flow, serviços de psicologia, massagista, aulas de grupo e muito mais.
            </h5> 
        
        </div>

        <div class="col-12 pt-4 p-1">

            <h2> Desafio </h2>

        </div>

        <div class="col-12 p-1">

            <h5> 
                O desenvolvimetno do projeto TIS, realizou-se com o obejtivo de lançarmos a empresa no mundo digital. Sem pontos de referencia,
                tivemos o desafio de construir desde raiz toda a presensa e imagem online da TIS e posicionar
                a empresa de uma forma diferenciadora, credível e profissional.
            </h5> 
        
        </div>

    </div>

    <div class="row justify-content-center align-items-center ">
        
        <img class="img_art1"  src="../../../assets/tis6.jpg">

    </div>

    <div class="row justify-content-center align-items-center ">

        <img class="img_art1"  src="../../../assets/tis1.jpg">

    </div>

    <div class="row mt-5 mb-5 p-lr ">
        
        <div class="col-12 pt-4 p-1">

            <h2> Processo </h2>

        </div>

        <div class="col-12 p-1">

            <h5> 
                Todo o processo de desenvolvimento por parte da nossa equipa, focou-se maioritariamente na qualidade e brio na imagem de mercado. 
                Acreditamos vivamente que a diferença acontece quando se foca nos pequenos detalhes. O desenvolvimento iniciou com a criação de branding da marca,
                 começando por idealizar as cores e logo da TIS: Verde, simboliza saúde, calma e bem estar. Os 3 pontos que a TIS tenciona passar aos seus clientes.
                  Toda esta criação passou por métodos de levantamento de requisitos e estudos com potenciais clientes, de forma a garantirmos que o produto final
                   está de acordo com o que as pessoas idealizam.
            </h5> 
        
        </div>

    </div>

    <div class="row justify-content-center align-items-center  ">

        <div class="col-12 col-md-6">

            <img class="img_art1"  src="../../../assets/tis7.jpg">

        </div>

        <div class="col-12 col-md-6 text-left p-5">

            <div class="col-12 pt-4 p-1">

                <h4 class="font-weight-bold"> Solução </h4>
    
            </div>

            <p>
                Esta primeira etapa do nosso desenvolvimento, passou apenas pelo Branding da marca. De forma a garantirmos uma boa imagem de mercado, todo o nosso 
                desenvolvimento foi filtrado e avaliado por potenciais clientes. A utilização deste método, ajuda-nos a garantir que a imagem criada está de acordo 
                com o que as pessoas idealizam e pretendem de uma marca que tem como principal objetivo o 'bem estar e desenvolvimento' humano. Neste projeto,
                 apresentamos uma imagem diferenciadora com exemplos de packaging e logo designs. 
            </p>

        </div>

    </div>

    <div class="row justify-content-center align-items-center mb-5 pb-5 p-lr ">

        <div class="col-12 pt-4 p-1">

            <img class="img_art1"  src="../../../assets/tis3.jpg">

            <img class="img_art1"  src="../../../assets/tis4.jpg">


        </div>

        <div class="col-12 p-2 mt-5"> 

            <h4> // A pensar no futuro dos nossos clientes </h4>

        </div>

        <div class="col-12 pt-4 p-1">

            <h2> Futuro </h2>

        </div>

        <div class="col-12 p-1 ">

            <h5> 
                Trabalho futuro irá basear-se no desenvolvimento de um website repsonsivo e a criação das redes sociais. Este desenvolvimento ajudará a 
                expandir o projeto online conseguir chegar a mais pessoas.
            </h5> 
        
        </div>   

    </div>

</div>

<!-- 1 - FIM -->
<div class="container   bg" >

    <div class="row">
        
        <div class="col-12 col-md-12 col-lg-12  text-center p-5 align-middle"> 

            <h1 class="header-title" > Deccer </h1>

            <button class="btn"> <a href="/product-pages/deccer"> Próximo Projeto </a> </button>

        </div>
    
    </div>
    
</div>

<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->