
<!-- 1 - Inicio -->
<div class="container-fluid  bg">

    <div class="row justify-content-left align-items-center">
        
        <div class="col-12 col-md-4 col-lg-5  text-center  p-5 margens-bg1"> 

            <h1  > Websites</h1>

            <h4 class="mb-5 p-5" style="font-size: 20px;"> Desenvolvimento de software para Web, projetando o seu negocio no online.</h4>

            <button class="btn-pink"> <a href="/contact"> Contactar</a>  </button>


        </div>
    
    </div>
    
</div>

<!-- 2 - Features -->
<div class="container-fluid  bg2">

    <div class="row  justify-content-center p-4">
        
        <div class="col-12 col-md-4 col-lg-4  text-center  ml-t ">

            <!-- <div>  <img style="width: 320px;" src="assets/logo1.png"> </div> -->

            <h2  data-aos="zoom-in"  data-aos-duration="1300"> Vantagens</h2>
            
            <h5 class="mb-5 p-4 "  style="color: rgb(174, 171, 176);" data-aos="zoom-in"  data-aos-duration="1300">Conheça as vantagens de ter um website nos dias de hoje. Marque presensa no mundo digital agora.</h5>
            
        
        </div>

    </div>
    
    <div class="row justify-content-center p-5">

        <!-- 1 card -->
        <div   data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4">  

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Presença Online</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> Ter um website significa que os seus cliente poderão encontrar você - em qualquer hora, em qualquer lugar. 
                Mesmo fora do horário de trabalho, o seu site continua a encontrar e garantir novos clientes,  oferecendo comodidade e informação aos clientes no conforto de suas casas.</p>

        </div>

        <!-- 2 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Trocar Informação </h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> Você pode listar seu horário de funcionamento, informações de contato, mostrar imagens de sua localização ou produtos e usar formulários de contato para facilitar consultas de clientes em potencial ou feedback dos existentes. Você pode até fazer upload de vídeos promocionais para realmente envolver seus clientes e vender seu negócio de uma forma eficaz e econômica.</p>

        </div>


        <!-- 3 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Credebilidade</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> No mundo moderno de hoje, existe a expectativa de que qualquer empresa de boa reputação tenha algum tipo de presença online. Os clientes potenciais provavelmente desconfiariam de qualquer empresa que não tivesse um número de telefone ou endereço físico, e o mesmo pode ser dito por não ter um site e endereço de e-mail.
                Além disso, ter um site de boa qualidade e fácil de usar faz com que os clientes se sintam confortáveis ao usar seus serviços, pois eles presumem que podem esperar a mesma experiência positiva em todas as áreas de seus negócios </p>

        </div>

        <!-- 4 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Custos </h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> A eliminação dessas despesas gerais também permitirá que você baixe seus preços, dando ao seu negócio uma vantagem competitiva real. Também pode ser usado internamente em sua empresa; Ter um site interno pode economizar muito tempo, pois tudo o que você precisa está em um só lugar e pode ser acessado a qualquer momento. </p>

        </div>


        <!-- 5 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12     col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Expansão</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> Como seu site pode ser acessado por qualquer pessoa em todo o mundo, a capacidade de romper barreiras geográficas nunca foi tão fácil. Qualquer pessoa, de qualquer país, poderá encontrar a sua empresa e, como tal, já é um potencial cliente. </p>

        </div>


    </div>
    
</div>



<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->