
<!-- 1 - Inicio -->
<div class="container-fluid  bg" >

    <div class="row justify-content-left align-items-center">
        
        <div class="col-12 col-md-4 col-lg-5  text-center  p-5 margens-bg1"> 

            <h1  > Websites</h1>

            <h5 class="mb-5 p-5"> Desenvolvimento de software para Web, projetando o seu negocio no online.</h5>

            <button class="btn-pink"> <a href="/contact"> Contactar</a>  </button>


        </div>
    
    </div>
    
</div>

<!-- 2 - Features VANTAGENS-->
<div class="container-fluid  bg2">

    <div class="row  justify-content-center p-4">
        
        <div class="col-12 col-md-4 col-lg-4  text-center  ml-t ">

            <!-- <div>  <img style="width: 320px;" src="assets/logo1.png"> </div> -->

            <h2  data-aos="zoom-in"  data-aos-duration="1300"> Vantagens</h2>
            
            <h5 class="mb-5 p-4 "  style="color: rgb(174, 171, 176);" data-aos="zoom-in"  data-aos-duration="1300">Conheça as vantagens de ter um website nos dias de hoje. Marque presensa no mundo digital agora.</h5>
            
        
        </div>

    </div>
    
    <div class="row justify-content-center p-5">

        <!-- 1 card -->
        <div   data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4">  

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Presença Online</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> Ter um website significa que os seus cliente poderão encontrar você - em qualquer hora, em qualquer lugar. 
                Mesmo fora do horário de trabalho, o seu site continua a encontrar e garantir novos clientes,  oferecendo comodidade e informação aos clientes no conforto de suas casas.</p>

        </div>

        <!-- 2 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Trocar Informação </h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> A possibilidade de trocar informações diretamente com um cliente, sem você perder um único minuto.  Esta comunicação “off”, não só poupa-lhe tempo como informa e mostra aos clientes os seus produtos, os seus contactos, fotos do seu estabelecimento, feedback de clientes. E qualquer outra informação.</p>

        </div>


        <!-- 3 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Credebilidade</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> A credibilidade é um dos fatores principais no que toca a fechar um negócio. No mundo moderno de hoje, existe a expectativa de que qualquer empresa de boa reputação tenha algum tipo de presença online. Seja website, instagram, facebook, linkedin. Os clientes procuram provas e informações disponíveis gratuitamente de forma a transparecer uma empresa credível para eles.</p>

        </div>

        <!-- 4 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class="col-12 col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Custos </h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> A redução de despesas gerais também permitirá que a sua empresa baixe os preços, dando ao seu negócio uma vantagem competitiva real. Seja um website ou uma plataforma dashboard, estar online pode economizar muito tempo, pois tudo o que você precisa está em um só lugar e pode ser acessado a qualquer momento. </p>

        </div>


        <!-- 5 card -->
        <div  data-aos="fade-up"  data-aos-duration="1300" class=" col-12     col-md-3 card-list text-left p-5 m-4"> 

            <h3 style=" color: rgb(71, 69, 74) ; font-weight: 200;  font-family: Roboto, 'Helvetica Neue', sans-serif;"> Expansão</h3>

            <p style="color: rgb(174, 171, 176);  font-family: Roboto, 'Helvetica Neue',sans-serif;"> A possibilidade de expansão ilimitada, de chegar e alcançar qualquer pessoa em todo o mundo, no projeto online a capacidade de romper barreiras geográficas nunca foi tão fácil. Qualquer pessoa, de qualquer país, poderá encontrar a sua empresa e, como tal, já é um potencial cliente. </p>

        </div>


    </div>
    
</div>

<!-- 3 layer O Q ESPERAR -->
<div class="container-fluid ">

    <div class="row bg3 justify-content-center p-3 ">

        <div class="col-12 ml-t text-center  ">
            <h4 class="text-white "> O que esperar da Witech </h4>
        </div>

    </div>

    <div class="row  mb-l justify-content-center align-items-center"  style="background-color: #181b2e;">
        
        <div data-aos="fade-up" data-aos-duration="1900" class="col-12 col-md-5 text-center text-white p-5"> 
                
            <img style="width: 105%;" src="assets/web.png">

        </div>

        <div data-aos="fade-up" data-aos-duration="1900" class="col-12 mt-5 col-md-5 d-flex  justify-content-center text-center text-white p-5 ">
        
            Atualmente, as empresas precisam de trocar informações e concluir transações em tempo real com os seus clientes. A Internet é um canal excelente e barato para esse fim. A nossa equipa faz uma abordagem profunda à sua area de mercado, de forma aproveitar melhor as tecnologias modernas e a desenvolvermos o melhor produto para si. Podemos construir todos os tipos de aplicações web para diferentes áreas, como E-Commerce, HealthCare, Energia, Constuções e fitness.
        </div>

    </div>

    <div class="row " >
        
        <img class="bg4 d-block d-sm-none"  src="assets/bgtr21.jpg" style="width: 100%;">

        <img class="bg4  d-none d-sm-block" src="assets/bgtr2.jpg">

    </div>

</div>

<div class="container-fluid p-l1" style="background-color: white;">

    <div class="row justify-content-center pb-5">
        <h4 style="color: rgb(66, 65, 68)"> Conheça trabalhos desenvolvidos</h4>
    </div>

    <div class="row justify-content-center  p-4">

        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center bg-deccer m-3">
            
            <div class="">
                <a href="/">  </a>
            </div>

        </div>

        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center bg-dg m-3">
            
            <div class="">
                <a href="">  </a>
            </div>

        </div>

    </div>

</div>

<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->