
.bg {
    /* The image used */
    background-image: url("../../../assets/bgweb.jpg");
    
    /*         background-image: linear-gradient(rgb(112, 65, 243),rgb(175, 122, 185));*/ 
    /* Full height */
    min-height: 100%;
    min-width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
