
.bg {
    /* The image used */
    background-image: url("../../assets/bd1.jpg");

    /* Full height */
    height: 100%;
    min-width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.bg2 {
    /* The image used */
    background: linear-gradient(to top,white, white);
    /* Full height */
    height: 100%;
    min-width: 100%;

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg3 {
    /* The image used */
    background: linear-gradient(to top,#3754d2, white);

    /* Full height */
    height: 100%;
    min-width: 100%;    

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg4 {
    /* The image used */
    background: linear-gradient(to top, #19255a, #3754d2);

    /* Full height */
    height: 100%;
    min-width: 100%;

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    
}


.circles img{
    width: 160px;
    animation: circle 14s linear infinite;
    z-index: 100;
}

.circles-left{
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    left: -70px;
    position: absolute;
}

.circles-right{
    display: flex;
    align-items: left;
    justify-content: right;
    right: 0%;
    position: absolute;
}

.circles-left img:nth-child(1){
    animation-delay: 2s;
}

@keyframes circle {
    0%{
        transform: translateY(0);
        opacity: 10;
    }
    45%{
        transform: translateY(-80vh);
        opacity: 0.98;
    }
    70%{
        transform: translateY(-30vh);
        opacity: 0.85;
    }
    100%{
        transform: translateY(0vh);
        opacity: 0;
    }
}

.row, .container, .container-fluid{
    background-color: #ffffff;
    color: white;

}

h1,h2,h3{
    color: white;
    
}

a{
    color: white;
    text-decoration: none;

}

h4,h5{
    color: rgb(169, 174, 216);;
    word-spacing: 2px;
    line-height: 1.6;
}

h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    letter-spacing: 2.2vh;
}



h5{
    color: rgb(169, 174, 216);;
}

.btn-pink{
    background-image: linear-gradient(#1e3bb9, #7b92f8);
    box-shadow: 0px 3px 20px 0px #3754d2;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-style: oblique;
    font-weight: bold;
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.8s;
}

.btn-pink:hover{
    transition: 0.8s;
    padding: 12px;
    padding-left: 70px;
    padding-right: 70px;
    box-shadow: 0px 4px 20px 0px rgb(199, 181, 248);
}

.btn-2{
    background-color:#181b2e;
    box-shadow: 0px 3px 14px 0px rgb(178, 164, 214);
    border-radius: 4px;
    border-style: none;
    color: white;
    font-style: oblique;
    font-weight: bold;
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.8s;
}


.tx-space-1{
    letter-spacing: 0.45vh;
}
.btn-2:hover{
    transition: 0.8s;
    padding: 12px;
    padding-left: 70px;
    padding-right: 70px;
    box-shadow: 0px 4px 20px 0px rgb(199, 181, 248);
}

.witech{
    font-size: 10px;
    color: rgb(113, 109, 136);
}

.inovar{
	background: linear-gradient(to right, #7b92f8 10%, #3754d2 30%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: bold;
	display: inline
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.ml-t{
    margin-top:15%;
}


.hidden{
    display: none;
}

.p-large{
    padding-top: 50px;
    padding-left: 155px;
    padding-right: 155px;
    padding-bottom: 240px;
}


@media only screen and (min-width: 1900px) {
    .p-large{
        padding-top: 50px;
        padding-left: 455px;
        padding-right: 455px;
        padding-bottom: 230px;
    }
}

@media only screen and (max-width: 810px) {
    
    .m-ad1{
        padding: 15px;
    }

    .ml-t{
        margin-top:265px;
    }

    h1{
        font-size: 40px;
        font-weight: bold;
    }

    .p-large{
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 130px;
    }

    .circles-left{
        left: -9px;
    }

    .circles img{
        width: 90px;
        height: 90px;
    }

    .bg {
        /* The image used */
        background-image: url("../../assets/mobile1.jpg");

        /* Full height */
        height: 100%;
        min-width: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

   
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
