

<div class="container-fluid fade-in">

        <div class="row  bg justify-content-center align-items-center">
            
            <div class="col-12 col-md-5 col-lg-6 p-lg-5 ml-lg-5 text-left p-5 ml-4  ">

                <div>  <img style="width: 320px;" src="assets/logo1.png"> </div>

                <h1 class="pb-2"> The wisdom to inovate</h1>

                <h5 class="mb-5">We work with solutions suited to the needs of each project, always with a creative, original and differentiated vision.</h5>

                <button class="btn-pink"> Contactar </button>

            </div>
            
            <div class="col-12 col-md-6 col-lg-5 p-lg-5 mr-lg-5  text-center d-none d-sm-block " >
                <img class="mt-2" style="width: 410px;" src="assets/phone.png">
            </div>

        </div>
        
        
</div>

<div class="container-fluid fade-in">

    <div class="row  bg2 justify-content-center">
        
        <div class="col-6 col-md-12 col-lg-12 p-lg-5 ml-lg-5 text-center  ml-4 ml-t ">

            <!-- <div>  <img style="width: 320px;" src="assets/logo1.png"> </div> -->

            <h1 class="pb-2" style="color: #181b2e;"> Sobre nos</h1>

            <h5 class="mb-5 ">Saiba como é trabalhar connosco,<br> da forma mais rapida e dinamica para concretizar os seus objetivos.</h5>
            
            <button class=" mb-5 mr-3 btn-2" style="background-image: linear-gradient(#c22ecf, rgb(221, 150, 221));"> Reunião </button>
            <button class=" mb-5 mr-3 btn-2"> Desenvolvimento </button>
            <button class=" mb-5 mr-3 btn-2"> Entrega </button>

        </div>

    </div>

    <div id="meeting" class="row justify-content-center align-items-center pb-5" onclick="setWork(1)" style="background-color: white;" >
        
        <div class="col-12 col-md-5 text-center">
            <img style="width: 410px;" src="assets/w1.png">
        </div>

        <div class="col-12 col-md-5 p-5 text-center" style="color: #181b2e;">
            
            <h5> Reunião, esta primeira etapa pela qual irá passar, destina-se ao levantamento de requesitos com a nossa equipa de desenvolvimento. 
            Esta reunião tem como obejtivo ajudar a perceber com exatidão, todos os seus interesses e objetivos de forma a passarmos para a fase de desenvolvimento.
    
            </h5>

        </div>

    </div>

    <div id="development" class="row justify-content-center align-items-center pb-5 hidden" onclick="setWork(2)"  style="background-color: white;" >
        
        <div class="col-12 col-md-5 text-center">
            <img style="width: 410px;" src="assets/w2.png">
        </div>

        <div class="col-12 col-md-5 text-center" style="color: #181b2e;">
            
            <h5> 
                Desenvolvimento, esta segunda, destina-se ao desenvolvimento da sua aplicação tendo em conta todo o levantamento de requesitos obtido.
                Esta fase destacamos pela vivacidade e motivação em alcançar os obetivos pretendidos pelo cliente e forma a proporcionar-lhe a melhor ferramente possivel.
                
            </h5>
        
        </div>

    </div>
    
    <div id="delivery" class="row justify-content-center align-items-center pb-5 hidden " onclick="setWork(3)"  style="background-color: white;" >
        
        <div class="col-12 col-md-5 text-center ">
            <img style="width: 470px;" src="assets/w3.png">
        </div>

        <div class="col-12 col-md-5 text-center " style="color: #181b2e;">
            
            <h5>
                Entrega, esta ultima etapa pela qual irá passar, destina-se à entrega final do seu projeto. Garantimos que o seu produto esta pronto
                a ser
            </h5> 

        </div>

    </div>

    <div class="row justify-content-center mt-5">
        <p class="witech">
            Witech Software Development @ 2021
        </p>
    </div>
</div>
