
<app-nav-mobile ></app-nav-mobile>

<!-- Inicio -->
<div class="container-fluid ">

    <div class="row bg p-2" style="background-color: #19255a; height: 1000px;">
        
        <div class="col-12   pink text-center  font-weight-bold" style="margin-top: 231px;">
            <h1 style="color: rgb(35, 36, 102);"> Fale Connosco</h1>
            <h3 class="mb-5" style="color: rgb(255, 255, 255);"> 9 1 3 8 5 8 1 2 3</h3>

            <h1 style="color: rgb(35, 36, 102);"> E-mail</h1>
            <h3 class="mb-5" style="color: rgb(255, 255, 255);"> witech.software@gmail.com</h3>

            <h1 style="color: rgb(35, 36, 102);"> Morada</h1>
            <h3 style="color: rgb(255, 255, 255);"> Rua Santa Luzia n.73 <br>
                Gondomar, Porto</h3>


        </div>
        
    </div>
    
    
</div>

<app-related-work></app-related-work>

<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->